@import "tailwindcss";

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  @apply bg-transparent m-0 overflow-hidden text-slate-200 font-sans;
  /* Use 'font-mono' here instead if you want the whole app to look like a terminal */
  font-family: 'JetBrains Mono', 'Inter', monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* scrollbar is invisible when not hovered */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1); /*subtle overlay */
  border-radius: 9999px;
  border: 2px solid transparent; /* padding around the thumb */
  background-clip: content-box; 
  transition: background-color 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#root {
  @apply h-screen w-screen;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
